<div class="form-card">
    <div class="form-card-head">
        <h1>Search by Location</h1>
    </div>
    <div class="form-card-body">
        <form method="POST">
            <label for="City">City</label>
            <input type="text" id="City" name="City" />
            <label for="State">State</label>
            <input type="text" id="State" name="State" />
            <label for="Zip">Zip</label>
            <input type="text" id="Zip" name="Zip" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>